@import "bootstrap/dist/css/bootstrap.min.css";
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);
.post-wrapper {
  border: 1px solid #ccc;
  border-radius: 5px;
  &.active {
    background-color: #d1ecf1;
  }
  p {
    white-space: nowrap;
    overflow: hidden;
  }
}
.cursor-pointer {
  cursor: pointer;
}
